openai >=  0.27
pyTelegramBotAPI >= 4.10.0
black >= 23.1.0
autoflake8 >= 0.4.0
stability_sdk >= 0.3.2 
coloredlogs >= 15.0.1
tiktoken >= 0.2.0
redis >= 3.5.3
fastapi >= 0.90
stripe  >=5.2.0
uvicorn >= 0.15.0
